/Assignments/HumanResourceSystem/target/
/Assignments/HumanResourceSystem/nbproject/private/
/Assignments/HumanResourceSystem/build/
/Assignments/HumanResourceSystem/dist/
/Assignments/Medical Record/nbproject/private/
/Assignments/Hospital System/nbproject/private/
